#countryDisplayChoices {
    visibility: hidden;
}

p {
    text-align: center;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
}
body {
    background-image: linear-gradient(rgba(250,250,250,0.3),
    rgba(250,250,250,0.6)), url("https://static.vecteezy.com/system/resources/previews/001/922/309/non_2x/coin-currency-symbol-icon-set-vector.jpg");
    background-size: cover;
}